.controls {
    display: flex;
    height: 84px;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
}
.dropdown {
    margin-left: 10px;
}
.control-celcius {
    width: 40px;
    background-color: rgba(0,128,0,.5);
}
.controls button {
    background-color: rgba(76,82,85,.4);
    transition: .2s ease-in-out;
    height: 43px;
    border: 0.5px solid gray;
    color: white;
    border-radius: 5px;
}
.controls button:hover {
    background-color: #47cf73;;
    box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, .12);
}
.control-fahrenheit {
    margin-left: 10px;
    width: 40px;
}
.control-refresh {
    width: 43px;
}
.spinner svg {
    width: 15px;
}